/nbproject/private/
/debian/php-ease.sh
/tests/build/
/vendor/
composer.lock
/build/
/debian/php-ease/
/debian/nbproject/private/
/docs/
/debian/php-ease-doc/
/debian/php-ease-doc.debhelper.log
/debian/php-ease-doc.substvars
/debian/php-ease.debhelper.log
/debian/php-ease.substvars
/debian/php-vitexsoftware-ease-bricks.substvars
/debian/php-vitexsoftware-ease-bricks.debhelper.log
/debian/php-vitexsoftware-ease-bricks-doc.substvars
/debian/php-vitexsoftware-ease-bricks-doc.debhelper.log
/debian/php-vitexsoftware-ease-bricks-doc/
/debian/php-vitexsoftware-ease-bricks/
/debian/files
/debian/debhelper-build-stamp
/tmp/
debian/.debhelper/
/debian/php-ease-bootstrap4-widgets.debhelper.log
/debian/php-ease-bootstrap4-widgets.substvars
/debian/php-ease-bootstrap4-widgets/
debian/php-vitexsoftware-ease-bootstrap4-widgets

/.build/
