Source: php-vitexsoftware-ease-bootstrap4-widgets
Build-Depends: debhelper (>= 7.0.50~), npm, jq, moreutils
Standards-Version: 4.3.0
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Uploaders: Vitex <vitex@hippy.cz>
Priority: optional
Section: devel
Homepage: https://github.com/Vitexus/php-ease-bootstrap4-widgets

Package: php-vitexsoftware-ease-bootstrap4-widgets
Conflicts: php-ease-bootstrap4-widgets
Depends: ${misc:Depends},php-vitexsoftware-ease-bootstrap4
Architecture: all
Section: web
Priority: optional
Description: Simple PHP framework TWB4 Widgets
 Twitter Bootstrap4 Widgets for EasePHP Framework

#Package: php-vitexsoftware-ease-bootstrap4-widgets-doc
#Depends: ${misc:Depends},
#Suggests: www-browser
#Architecture: all
#Section: doc
#Priority: optional
#Description: Ease Framework documentation
# ApiGen html documentation for ease-framework php library
