Package: php-vitexsoftware-ease-bootstrap4-widgets
Version: 1.1
Architecture: all
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Installed-Size: 46
Depends: php-vitexsoftware-ease-bootstrap4
Conflicts: php-ease-bootstrap4-widgets
Section: web
Priority: optional
Homepage: https://github.com/Vitexus/php-ease-bootstrap4-widgets
Description: Simple PHP framework TWB4 Widgets
 Twitter Bootstrap4 Widgets for EasePHP Framework
